<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List App</title>
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <h1 class="about-header">List App</h1>
  <div class="list">
    <form method="post" action="/item/add">
      <label class="name" for="name">Name</label>
      <input type="text" name="name">
      <input type="submit" value="Add">
    </form>
    <h4>List items:</h4>
    <ul>
      <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
    </ul>
  </div>
  <div class="links">
    <a href="localhost:3000/about">About</a>
    <a href="localhost:3000/contact">Contact</a>
  </div>
</body>
</html>
