.about-header {
    background: url(http://ecard.enter-media.org/upload/iblock/29f/29f460c1ee6c9a7bfe713bec9efa968f.jpg) repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    position: relative;
    line-height:normal;
    font-size:2rem;
    margin-top: 100px;
    text-align: center;
}
    
.about-header:after {
    content: attr(data-text);
    position: absolute;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: -1;
    line-height:normal;
    font-size: 2rem;
    background-color:#262626;
}

.list {
    max-width: 306px;
    margin: auto;
}

.links {
    margin: auto;
    max-width: 100px;
}

.name {
    background: url(http://ecard.enter-media.org/upload/iblock/29f/29f460c1ee6c9a7bfe713bec9efa968f.jpg) repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    position: relative;
    line-height:normal;
    font-size:2rem;
    text-align: center;
}
    
.name:after {
    content: attr(data-text);
    position: absolute;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: -1;
    line-height:normal;
    font-size:  1rem;
    background-color:#262626;
}

li {
    background: url(http://ecard.enter-media.org/upload/iblock/29f/29f460c1ee6c9a7bfe713bec9efa968f.jpg) repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50% 50%;
    position: relative;
    line-height:normal;
    font-size:1rem;
    text-align: center;
}

li:after {
    content: attr(data-text);
    position: absolute;
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: -1;
    line-height:normal;
    font-size:1rem;
    background-color:#262626;
}
